body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifas;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(-45deg, #ffffff, #00c3ff, #f34cf3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}
div {
  height: 200px;
  display: block;
  text-align: center;
}
a :hover {
  background-color: #ee7752;
}
.image {  
  float: left;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
hr {
    border: none; /* Убираем границу */
    background-color: gray; /* Цвет линии */
    color: gray; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    display: block;
}
.spisok {
  float: right;
  text-align: left;
  margin-right: 20%;
}
table {
  border-color: #f34cf3;
  font-weight: bold;
  
}
.spsk {
  text-align: left;
  float: left;
  margin-left: 5%;
  font-size: 20px;
}
p {
  float: left;
  text-align: left;
  display: block;
  position: absolute;
  margin-top: 10%;
}
b {
  text-align: left;
  float: left;
}